[Unit]
Description=Weather Provider Service
After=network.target mosquitto.service

[Service]
ExecStart=/usr/bin/weather-provider
Restart=always
User=pi  # or your user
WorkingDirectory=/home/pi/weather-service
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target